---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getBlogLang, joinBlogSlug } from "../../../content/utils";
import ContentStyles from "../../../components/ContentStyles.astro";
import {
  TranslationDict,
  getLangFromUrl,
  useTranslationDict,
} from "../../../i18n/utils";
interface Props {
  article: CollectionEntry<"articles">;
}

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => {
    const [lang, ...slug] = article.slug.split("/");
    return {
      params: { lang, slug: joinBlogSlug(slug) },
      props: { article },
    };
  });
}
const { article } = Astro.props;
const { Content } = await article.render();
const lang = getBlogLang(article.slug);
const articleDate: string = article.data.date.toLocaleDateString(lang, {
  dateStyle: "full",
});

const translationDict: TranslationDict = {
  en: {
    author: "Author",
    date: "Date",
    topics: "Topics",
    summary: "Metadata",
  },
  id: {
    author: "Penulis",
    date: "Tanggal",
    topics: "Topik",
    summary: "Metadata",
  },
  zh: {
    author: "作者",
    date: "日期",
    topics: "主题",
    summary: "元数据",
  },
  ja: {
    author: "著者",
    date: "日付",
    topics: "トピックス",
    summary: "メタデータ",
  },
  it: {
    author: "Autore",
    date: "Data",
    topics: "Argomenti",
    summary: "Metadata",
  },
};
const useT = useTranslationDict(translationDict, lang);
---

<BaseLayout title={article.data.title}>
  <ContentStyles />
  <main>
    <header>
      <h1>{article.data.title}</h1>
      <details>
        <summary>{useT("summary")}</summary>
        <p>{useT("author")}: {article.data.author}</p>
        <p>
          {useT("date")}: {articleDate}
        </p>
        <p>{useT("topics")}:</p>
        <ul>
          {article.data.topics.map((topic) => <li>{topic}</li>)}
        </ul>
      </details>
      <article>
        <div>
          <Content />
        </div>
      </article>
    </header>
  </main>
</BaseLayout>
