---
import { getCollection } from "astro:content";
import ContentStyles from "../../../../components/ContentStyles.astro";
import {
  supportedLanguages,
  type supportedLanguageKey,
} from "../../../../i18n/translations";
import BaseLayout from "../../../../layouts/BaseLayout.astro";
import type { InferGetStaticParamsType } from "astro";
import { generateBlogUrl } from "../../../../content/utils";

export async function getStaticPaths() {
  const langs = Object.keys(supportedLanguages);
  const articles = await getCollection("articles");
  return langs.flatMap((lang) => {
    const langArticles = articles
      .filter((art) => art.slug.split("/").includes(lang))
      .flatMap((art) => art.data.topics);
    return langArticles.map((topic) => {
      return {
        params: {
          lang,
          topic: topic,
        },
      };
    });
  });
}

const { topic, lang } = Astro.params as InferGetStaticParamsType<
  typeof getStaticPaths
>;

const articles = (await getCollection("articles"))
  .filter((art) => art.slug.split("/").includes(lang))
  .filter((art) => art.data.topics.includes(topic));
---

<BaseLayout title={"no"}>
  <ContentStyles />
  <main>
    <header>
      <h1>{topic}</h1>
      <p>lang: {supportedLanguages[lang as supportedLanguageKey]}</p>
      <a
        href={new URL(`${import.meta.env.BASE_URL}${lang}/articles`, Astro.url)
          .href}><p>Go back</p></a
      >
    </header>
    <article>
      {
        articles.length > 0 ? (
          <>
            {articles.map((art) => {
              return (
                <div class:list={["bg_secondary", "bg_round"]}>
                  <h2>{art.data.title}</h2>
                  <a
                    href={generateBlogUrl(art.slug, "articles", Astro.url)}
                    class:list={["anchor_static"]}
                  >
                    Read More.
                  </a>
                  <ul>
                    <li>Author: {art.data.author}</li>
                    <li>
                      Date:
                      {art.data.date.toLocaleString(lang, {
                        dateStyle: "full",
                      })}
                    </li>
                    <li>Description: {art.data.description}</li>
                  </ul>
                </div>
              );
            })}
          </>
        ) : (
          <p>No articles? (how)</p>
        )
      }
    </article>
  </main>
</BaseLayout>

<style>
div.blog_item {

}
</style>
