---
import "../styles/globals.css";
import iconPng from "../img/seal.png";
import HeaderBar from "../components/HeaderBar.astro";
import NoJSBar from "../components/NoJSBar.astro";
import FooterBar from "../components/FooterBar.astro";
import {
  TranslationDict,
  getLangFromUrl,
  useTranslationDict,
} from "../i18n/utils";

const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const translationDict: TranslationDict = {
  en: {
    title_suffix: "Nation of Derrenomo Official Site",
    fallback: "This page is missing content!",
  },
  id: {
    title_suffix: "Situs Resmi Negara Derrenomo",
    fallback: "Halaman ini tidak memiliki konten!",
  },
  ja: {
    title_suffix: "デレノモ国政府の公式サイト",
    fallback: "このページにはコンテンツがありません!",
  },
  zh: {
    title_suffix: "德雷诺莫国官方网站",
    fallback: "此页面缺少内容！",
  },
  it: {
    title_suffix: "Sito Ufficiale Della Nazione di Derrenomo",
    fallback: "In questa pagina mancano i contenuti!",
  },
};
const useT = useTranslationDict(translationDict, lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={iconPng.src} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{`${title} | ${useT("title_suffix")}`}</title>
  </head>
  <body>
    <HeaderBar />
    <div id="BodyContainer">
      <slot>
        <p>This page is missing content!</p>
      </slot>
    </div>
    <NoJSBar />
    <FooterBar />
  </body>
</html>

<style>
  div#BodyContainer {
    position: relative;
    min-height: 100vh;
    width: 100vw;
  }
</style>
